# Database URL (Format: mysql://username:password@hostname:port/dbname?ssl-mode=REQUIRED)
DB_URL=mysql://your_user:your_password@your_host:21687/your_db?ssl-mode=REQUIRED

# SMTP Mailer Settings
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
SMTP_FROM_EMAIL=your_email@gmail.com
SMTP_FROM_NAME="NusaBay Team"

# App Settings
APP_ENV=development
